<div class="comments">
    {{#each this}}
    <section class="comment">
        <div class='username'>
            {{user.username}}
        </div>
        <div class="time-stamp">{{format_date created_at}}</div>
        <div class="comment-content">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>