<section class="dashboard">
    <div>
        <h2>Create a New Blog Post</h2>
    </div>
    <section id='create-post-el'>
        <form class="create-post-form">
            <div>
                <label for="post-title">Post Title:</label>
                <input type="text" name='post-title' id="post-title">
            </div>
            <div>
                <label for="post-body">Post Content:</label>
                <textarea name='post-body' id="post-content" rows='10' cols='100'></textarea>
            </div>
            <div>
                <button id='create-blog-btn' class='create-btn'>Create Your Post!</button>
            </div>
        </form>
    </section>
</section>




<script src='/javascript/new-post.js'></script>