{{!-- {{> post-info post}} --}}


<article class="post">
    <div>
        <span class='title'>Title: {{post.title}}</span>
    </div>
    <div class="content">
        <span>Blog: {{post.post_body}}</span>
    </div>
    <div class='username'>Blogger: {{post.user.username}}</div>
    <div class='time-stamp'>Posted: {{format_date post.created_at}}</div>
</article>

<form id="comment-form">
    <div>
        <label for="comment-text">Add a New Comment:</label>
        <textarea name="comment-body" class='comment-text'></textarea>
    </div>
    <div>
        <button type="submit" class='create-btn'>Add Comment</button>
    </div>
</form>

{{> comments post.comments}}


{{#if loggedIn}}
<script src="/javascript/create-comment.js"></script>
{{/if}}